html {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Piazzolla', serif;
	background-size: cover;
	background-position: bottom;
	background-color: #d4d4d4;
	min-height: 100%;
}

form {
	padding: 60px;
	margin-top: 60px;
	background-color: #37474fb7;
	border-radius: 0.4rem;
}

form button,
form h3 {
	margin: 20px 0;
	font-family: 'Piazzolla', serif;
	font-weight: 600;
}

/* All input fields that are in focus --> colouring same as button */
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: white;
	box-shadow: none;
}

#white {
	color: white;
}

.card-design {
	background-color: #37474fb7;
	border-radius: 0.4rem;
}

.card-title {
	color: white;
	text-transform: uppercase;
}

.radius {
	border-radius: 0.5rem;
}

.color-white {
	color: white;
}

.brand-logo {
	font-family: 'Homemade Apple', cursive;
	text-transform: lowercase;
}
